* {
  box-sizing: border-box;
  list-style: none;
  font-family: "Noto Sans KR", sans-serif;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #ffffff;
  position: fixed;
}

:root {
  --mainColor: rgb(193, 226, 255);
  --year: orange;
  --month: #f8ff94;
  --Day: #b9ff8a;
  --hour: #c0bcff;
  --minute: #f290ff;
  --title: rgb(164, 214, 255);
  --back: rgba(36, 36, 36, 0.7);
  --headerBack: rgb(41, 41, 41);
  --itemName: rgb(116, 194, 194);
}

.cc {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* textarea 크기 조정 제거 */
.ta {
  resize: none;
  overflow: hidden;
}

.cn {
  position: absolute;
  top: -200px;
}
