* {
  box-sizing: border-box;
  list-style: none;
  font-family: "Noto Sans KR", sans-serif;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #ffffff;
  position: fixed;
}

:root {
  --mainColor: rgb(193, 226, 255);
}

.cc {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* textarea 크기 조정 제거 */
.ta {
  resize: none;
  overflow: hidden;
}
